.view-options__container{
  max-width: 76.0625rem;
  padding-left: 0.625rem;
  padding-right: 1.75rem;
  width: 100%;
}

.view-options {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 1.875rem 0 1.25rem;
  padding: 0 1rem;
}

.view-options__group {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1.7;
}

.view-options__title {
  color: #333;
  font-weight: 600;
  margin-right: 0.375rem;
  white-space: nowrap;
}

.dropdown__trigger {
  color: rgba(0, 0, 0, .9);
  transition: color .18s ease-out;
  font-size: 0.875rem;
  max-width: 100%;
  padding: 0;
  border: none;
  box-shadow: none;
  align-items: center;
  background: none;
  cursor: pointer;
  display: flex;
  font: inherit;
}

.trigger__arrow {
  position: relative;
  top: 0.125rem;
  left: 0.125rem;
}

.popper {
  width: auto;
  position: absolute; 
  background-color: #fff;
  border-radius: 0.375rem;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.12);
  z-index: 1;
}

.popper__content {
  min-width: 8.4375rem;
  overflow: hidden;
  padding: 0;
}

.popper__content ul {
  color: #666;
  font-size: 0.875rem;
  font-weight: 300;
  box-shadow: 0 0.0625rem 0.125rem 0 rgba(0,0,0,.12);
}

.popper__content li {
  position: relative;
  border-bottom: 0.0625rem solid #d8d8d8;
  padding: 0 0 0 1rem;
  align-items: center;
  display: flex;
  height: 2.5625rem;
}

.before {
  position: absolute;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  border-left: 0.3125rem solid #3483fa;
  border-radius: 0.09375rem;
  pointer-events: none;
  z-index: 0;
}

.item-first-column {
  height: 0.875rem;
  margin-right: 0;
  padding: 0;
}

.item-text {
  cursor: pointer;
}

.item-primary {
  display: block;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba(0, 0, 0, .9);
}

.toggle-button {
  display: none;
}

@media (max-width: 48rem) {

  .popper {
    right: 0.5rem;
  }
  
  .toggle-button{
    display: block;
    position: absolute;
    top: 0.6875rem;
    left: 1rem;
    border: none;
  }
  
  .toggle-icon {
    display: flex;
    width: 1.5625rem;
    height: 0.125rem;
    background-color: #333;
    position: relative;
  }
  
  .toggle-icon::before,
  .toggle-icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
  }
  
  .toggle-icon::before {
    top: -0.375rem;
  }
  
  .toggle-icon::after {
    bottom: -0.375rem;
  }
  
}
